body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav {
  text-align: center;
}

nav a{
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

#featured-property figcaption {
  text-align: center;
  font-size: 15px;
}

#featured-property p {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#details div{
  float: left;
  background-color: yellow;
  text-align: center;
  width: 25%;
}
